* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.background-pic{
  background-image: url(../img/background.jpg);
  background-size: cover;
  height: 85vh;
}

.img-logo{
width:10rem;
}
.background-pic2{
  background-image: url(../img/background2.jpg);
  background-size: cover;
  height: 50vh;
}
.index-part1 {
  background-image: url(../img/background.jpg);
  background-size: cover;
  height: 85vh;
  font-family: 'Roboto', sans-serif;
}

.stroke {
  color: white;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.card{
  border:unset;
  align-items:center;
  justify-content: center;
}
.card-image{

  width:10em;
  height:auto;
}
