* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

:root {
  --black: #272A31;
  --orange: #EC5242;
  --lightgray: #D3D3D3;
}
.background-pic{
  background-image: url(../img/background2.png);
  background-size: cover;
  height: 85vh;
}

.text--lightgray{
  color: var(--lightgray);
}

.text--black{
  color: var(--black);
}

.text--orange{
  color: var(--orange);
}



.bg--lightgray{
  background-color: var(--lightgray);
}

.bg--black{
  background-color: var(--black);
}

.bg--orange{
  background-color: var(--orange);
}

.img-logo{
width:10rem;
}
.footer-logo-img{
  width:10rem;
}
.background-pic2{
  background-image: url(../img/background2.jpg);
  background-size: cover;
  height: 50vh;
}

.normalflexbox{
  display:flex;
  justify-content:center;
  padding:1rem;
}

.normalflexcolumn{

  display: flex;
  flex-direction: column;
  padding:1rem;

}
.customwidth{
  width:9rem !important;
  align-self:center;
}
@media only screen and (max-width: 768px){

  .normalflexbox{
    flex-direction:column;
  }
  .normalflexcolumn > img {
    margin: 0 auto;

  }
}

.table{

  margin: auto;
 width: 75% !important;
}

.stroke {
  color: white;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--orange);
}

.card{
  border:unset;
  align-items:center;
  justify-content: center;
}
.card-image{

  width:10em;
  height:auto;
}

.act-img{
  width:6rem;
  height:6rem;
}

.sponsors-img > img {

  width:15rem;
  height:auto;
}

.table-bordered{
    border-color: var(--orange);
  }
  .table-bordered > thead > tr {
      border-color: var(--orange);
    }
.table-bordered > thead > tr > th{
    border-color: var(--orange);
}
.table-bordered > tbody > tr > td{
    border-color: var(--orange);
  }
